<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/heroic-features.css">
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>